{% extends 'master' %}

{% block content %}
  {{ form.open({action: 'CandidateController.update', params: {id: candidate.id}, class: 'inline-form'}) }}

    <fieldset class="form-group">
      {{ form.label('Imię') }}
      {{ form.text('name', candidate.name, { class: 'form-control', placeholder: 'Imię' }) }}
    </fieldset>
    <fieldset class="form-group">
      {{ form.label('Nazwisko') }}
      {{ form.text('lastname', candidate.lastname, { class: 'form-control', placeholder: 'Nazwisko' }) }}
    </fieldset>
    <fieldset class="form-group">
      <label for="cvFile">Dokument CV</label>
      <input type="file" id="cvFile">
      <p class="help-block">Wczytaj plik zawierający CV.</p>
      </fieldset>
    <div class="checkbox hidden">
      <label>
        <input type="checkbox"> Check me out
      </label>
    </div>
    {{ form.submit('Zapisz', '', { class: 'btn btn-primary btn-block' }) }}
  {{ form.close() }}
{% endblock %}
