{% extends 'master' %}

{% block content %}
  <form class="inline-form" method="post" action="update">
    {{ csrField }}
    <div class="form-group">
      <label for="edName">Imię</label>
      <input type="text" class="form-control" id="edName" placeholder="Imię" value="{{ candidate.name }}">
    </div>
    <div class="form-group">
      <label for="edLastName">Nazwisko</label>
      <input type="text" class="form-control" id="edLastName" placeholder="Nazwisko" value="{{ candidate.lastname }}">
    </div>
    <div class="form-group">
      <label for="cvFile">Dokument CV</label>
      <input type="file" id="cvFile">
      <p class="help-block">Wczytaj plik zawierający CV.</p>
    </div>
    <div class="checkbox hidden">
      <label>
        <input type="checkbox"> Check me out
      </label>
    </div>
    <button type="submit" class="btn btn-default">Zapisz</button>
  </form>
{% endblock %}
