<div class="row">
  <div class="col-sm-10">
    <b> {{ candidate.name }} {{ candidate.lastname }}</b>
  </div>
  <div class="col-sm-1">
    <a href="/cand/{{ candidate.id }}">POKAZ</a>
  </div>
  <div class="col-sm-1">
    <a href="/cand/{{ candidate.id }}/edit">EDYTUJ</a>
  </div>
</div>
